*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    background-color:#fcfcfc;
}
a{
    text-decoration: none;
}
.navbar-brand img{
    width: 224px;
}
@media screen and (min-width: 1024px){
    .navbar-brand img{
        width: 350px;
    }
}
.navbar{
    background-color: #fcfcfc;
    border-bottom: 1px solid #4995d2;
    padding-bottom: 10px;
}
.nav-link{
    font-family: 'play', sans-serif;
    color: #3b71b9;
    font-size: 1.2rem;
}
header{
    margin-bottom: 20px;
}
.activo{
    color: #50a7df;
    border-top: 1px solid #50a7df;
    border-bottom: 1px solid #50a7df;
}
.carritoContainer{
    margin-top: 15px;
    margin-bottom: 25px;
    border-top: 1px solid #4995d2;
    border-bottom: 1px solid #4995d2;
}
.active{
    color: #4995d2;
}
.carritoContainer h3{
    font-family: 'play',sans-serif;
    color: #4995d2;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 2.5rem;
}
#carritoVaciar{
    justify-self: end;
}
.carrito-item-title h6,.carrito-item-precio p{
    font-size: 1.1rem;
}
.carrito-item-cantidad-suma{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #3b71b9;
    border-radius:30%;
    font-size: 1.5rem;
    width: 25px;
    min-width: 20px;
}
.carrito-item-cantidad-resta{
    color: white;
    background-color: red;
    border-radius:30%;
    font-size: 1.5rem;
    width: 25px;
    min-width: 20px;
}
.carritoSubtitulo h6{
    font-family: 'Russo One',sans-serif;
    font-size: 1.3rem;
    color: #4995d2;
}
.carritoBasura{
    font-size: 1.5rem;
    color:#4995d2;
}
.carritoBasuraButt{
    border: none;
    background-color: white;
}
.carritoTotal{
    margin-top: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}
.carritoTotal p{
    font-family: 'Russo One',sans-serif;
    font-size: 1.5rem;
    color: #3b71b9;
    display: inline-block;
}
.carritoTotal-botones{
    text-align: center;
}
#carritoTotal{
    font-family: 'kanit',sans-serif;
    margin-left: 5px;
}
.btn{
    background-color:#3b71b9 ;
}
.id-producto{
    display: none;
}
.oculto{
    display: none;
}
.card{
    border:1px solid #3b71b9;
}
.card-img{
    margin-top: 10px;
}
.card-title{
    font-size: 1.2rem;
    color: #3b71b9;
    font-family: 'Russo One', sans-serif;
}
.card h6{
    color:#4995d2;
    font-family: 'kanit',sans-serif;
    font-size: 1rem;
}
.containerElementosCarrito{
    border-bottom: 1px solid #4995d2; 
}
.carrito-item-title{
    font-family: 'Russo One',sans-serif;
    font-weight: 100;
}
.carrito-item-precio{
    font-family: 'kanit',sans-serif;
}
html{
    height: fit-content;
}
p{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.row{
    padding: 0;
    margin: 0;
}
footer{
    background-color: #3b71b9;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
}
.footer-pagos img{
    padding: 5px;
    width: 60%;
}
.footer-info-text{
    margin-top: 20px;
}
.footer-info a{
    font-size: 1.1rem;
    font-family: 'Russo One', sans-serif;
    font-weight: 200;
    display: block;
    color: white;
}
.footer-info a:hover{
    color: black;
}
.footer-info img{
    width: 50%;
}
.footer-redes span{
    font-size: 2rem;
    font-family: 'Russo One', sans-serif;
    font-weight: 200;
    color: white;
}
.footer-redes i{
    font-size: 4rem;
    color: white;
}
.footer-redes i:hover{
    color: black;
}
.footer-derechos{
    background-color: black;
    margin-top: 25px;
}
.footer-derechos p{
    color: white;
}
.branding-background{
    height: 700px;
    background-image: url(./imagenes/index/branding.jpg);
    background-size: cover;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
}
.branding-layout{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    backdrop-filter: grayscale(43%) blur(0.5px);
    background-color: hwb(214 23% 27% / 0.388);
}
.branding-layout h1{
    font-size: 3rem;
    font-family: 'play',sans-serif;
    padding-left: 20px;
}
.branding-layout p{
    margin-top: 15px;
    font-size: 1.2rem;
    font-family: 'kanit',sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 1024px){
    .branding-layout p{
        width: 52%;
    }
}
.branding-link{
    font-family: 'Russo One',sans-serif;
    position: absolute;
    font-size: 1.2rem;
    bottom: 0;
    margin: 20px;
    align-self: center;
    color: white;
    background-color: #3b71b9;
    padding: 5px;
    border-radius: 10%;
}
.branding-link:hover{
    color: #3b71b9;
    background-color: white;
}
.productos-background{
    height: 450px;
    max-width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 0;
}
.productos-nav-elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    backdrop-filter: grayscale(70%) blur(0.5px);
    background-color: hwb(214 23% 27% / 0.4);
}
.productos-nav-elemento:hover{
    backdrop-filter: none;
    background-color: hwb(214 23% 27% / 0.5);
}
.productos-titulo{
    font-size: 1.8rem;
    color: white;
    font-family: 'Russo one',sans-serif;
}
.productos-texto{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    margin: 10px;
    font-family: 'kanit',sans-serif;
}
.productos-link{
    margin-top: 10px;
    font-size: 1.4rem;
    font-family: 'Russo One',sans-serif;
    color: white;
    background-color: #3b71b9;
    padding: 5px;
    border-radius: 35%;
}
.productos-link:hover{
    color: #3b71b9;
    background-color: white;
}
#productos-vapos{
    background-image: url(./imagenes/index/vaporizadores.jpg);
    background-position: right;
}
#productos-liquis{
    background-image: url(./imagenes/index/liquidos.jpg);
    background-position: center;
}
#productos-reps{
    background-image: url(./imagenes/index/repuestos.jpg);
}
.productos-nav-layout{
    display: flex;
    justify-content: center;
}
.marcas{
    width: 100%;
    margin-top: 30px;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: scroll;
}
@media screen and (min-width: 1024px){
    .marcas{
        overflow: hidden;
        justify-content: space-around;
    }
}
.marcas img{
    height: 100%;
    padding: 10px;
    max-width: 180px;
}