.navbar-brand img{
    width: 250px;
}
.navbar{
    background-color: #fcfcfc;
}
.nav-link{
    font-family: 'play', sans-serif;
    color: #3b71b9;
    font-size: 1.2rem;
}
.activo{
    color: #50a7df;
    border-top: 1px solid #50a7df;
    border-bottom: 1px solid #50a7df;
}
.carritoContainer{
    margin-top: 15px;
    margin-bottom: 25px;
    border-top: 1px solid #4995d2;
    border-bottom: 1px solid #4995d2;
}
.active{
    color: #4995d2;
}
.carritoContainer h3{
    font-family: 'play',sans-serif;
    color: #4995d2;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 2.5rem;
}
#carritoVaciar{
    justify-self: end;
}
.carrito-item-title h6,.carrito-item-precio p{
    font-size: 1.1rem;
}
.carritoSubtitulo h6{
    font-family: 'Russo One',sans-serif;
    font-size: 1.3rem;
    color: #4995d2;
}
.carritoBasura{
    font-size: 1.5rem;
    color:#4995d2;
}
.carritoBasuraButt{
    border: none;
    background-color: white;
}
.carritoTotal p{
    font-family: 'Russo One',sans-serif;
    font-size: 1.5rem;
    color: #3b71b9;
}
#carritoTotal{
    font-family: 'kanit',sans-serif;
    margin-left: 5px;
}
#carritoTerminar{
    margin-left: 20px;
}
.btn{
    background-color:#3b71b9 ;
}
.id-producto{
    display: none;
}
.oculto{
    display: none;
}
.card{
    border:1px solid #3b71b9;
}
.card-img{
    margin-top: 10px;
}
.card-title{
    font-size: 1.2rem;
    color: #3b71b9;
    font-family: 'Russo One', sans-serif;
}
.card h6{
    color:#4995d2;
    font-family: 'kanit',sans-serif;
    font-size: 1rem;
}